name: Windows - LiteManager - Custom

on:
  workflow_dispatch:

jobs:
  build:
    name: Start Building...
    runs-on: windows-latest
    timeout-minutes: 9999
   
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4  # Ye step aapki repo se files download karega

      - name: Installing Essentials
        run: |
          cmd /c Downloads.bat

      - name: Connect to LiteManager & AnyDesk
        run: cmd /c show.bat

      - name: Keep Alive Loop
        run: python loop.py
